// .auto-form-wrapper body {
//     background:#f7f9fc;
//   }

.auto-form-wrapper{
  box-shadow: rgba(8, 143, 220, 0.07) 0px -25px 37.7px 11.3px;
    background: rgb(255, 255, 255);
    padding: 40px 40px 10px;
    border-radius: 4px;
    color: rgb(36, 36, 36);
}
