// .landing-style {
//   background: #3A80F3;
//   color: #fff;
// }

.wrapper {
  display: flex;
}

.summary {
  width: 900px;
}

.custom-container-1{
  display: flex;
  justify-content: space-between;
  .card{
    // margin-left: 3px;
    width: 40%;
    margin: 2px;
    box-shadow: 0.5px 0.3px 0.3px lightgrey;
  }
}

.card-text{
  color: #4B81EB;
    .h6{
      color: grey;
    }
}

.custom-container-2{
  display: flex;
  justify-content: space-between;
  margin-top: 15px !important;
  .card{
    background-color: white;
    width: 100%;
    height:25rem;
    margin: 2px;
  }
}

#date-summary{
  color: rgb(161, 161, 161);
}


.h6-summary {
  margin-bottom: 0.45rem !important;
}

.money {
  color: #10ac84 !important;
}
